export(pnea)
export(networkmatrix)
S3method(plot, pnea)
S3method(print, pnea)
S3method(summary, pnea)
importFrom("graphics", "abline", "hist", "legend", "par", "plot")
importFrom("stats", "ecdf", "ks.test", "phyper")
importFrom("utils", "head")